*.tlog
*.obj
*.dll
*.pdb
*.log
*.exe
*.sdf
*.suo
*.opensdf
*.db
.vs/
Lib/
Tests/Debug/
Tests/DebugEditorTests/
Debug/
DebugEditor/
DebugEditorTests/*
EditorResources/obj/*
EditorResources/bin/*
OneFlower.VC.VC.opendb
*.idb
UnitTests/*