[submodule "Project/stduuid"]
	path = vendor/stduuid
	url = git@github.com:mariusbancila/stduuid.git
[submodule "swizzle"]
	path = swizzle
	url = git@github.com:oroosvall/swizzle.git
[submodule "vendor/cereal"]
	path = vendor/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "vendor/ImGuizmo"]
	path = vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "vendor/PhysX"]
	path = vendor/PhysX
	url = https://github.com/NVIDIA-Omniverse/PhysX.git
