*.tlog
*.obj
*.dll
*.lib
*.pdb
*.log
*.exe
*.sdf
*.suo
*.opensdf
*.db
.vs/
Lib/
Tests/Debug/
Tests/DebugEditorTests/
Debug/
DebugEditor/
DebugEditorTests/*
EditorResources/obj/*
EditorResources/bin/*
OneFlower.VC.VC.opendb
*.idb
UnitTests/*
Build/*
Build/Win32/*
Build/Win32/UnitTests/*
Build/Win32/UnitTests/OneFlower.lib
Build/Win32/UnitTests/OneFlower.ilk
Build/Win32/UnitTests/OneFlower.exp
Build/Win32/UnitTests/OneFlower.ilk
x64/Release/OneFlower.exp
x64/Release/OneFlower.iobj
x64/Release/OneFlower.ipdb
x64/Release/OneFlower.lib
x64/Release/OneFlower.vcxproj.FileListAbsolute.txt
x64/UnitTests/*
Data/Default
Data/Default.index
*.save
imgui.ini
*.recipe
x64/Release/_IsIncrementalBuild
x64/Release/optick.exp
x64/Release/swizzle.exp
