#include "Resource.h"

MENU_ID MENU
BEGIN
	POPUP "File"
	BEGIN
		MENUITEM "Add Zone",ID_ADD_ZONE
		MENUITEM "Save Zone", ID_SAVE_ZONE
		MENUITEM "Load Zone", ID_LOAD_ZONE
		MENUITEM "Remove Zone", ID_REMOVE_ZONE

		MENUITEM "Exit",ID_FILE_EXIT
	END
	POPUP "Add"
	BEGIN

		POPUP "Components"
		BEGIN
			MENUITEM "TransformComponent",ADD_TransformComponent
			MENUITEM "RenderComponent",ADD_RenderComponent
			MENUITEM "HitboxComponent",ADD_HitboxComponent
			MENUITEM "DialogComponent",ADD_DialogComponent
			MENUITEM "OverHeadComponent",ADD_OverHeadComponent
			MENUITEM "RigidComponent",ADD_RigidComponent
		END
		MENUITEM "GameObject",ADD_GameObject


	END
	POPUP "Remove"
		BEGIN
			MENUITEM "GameObject",REMOVE_GameObject
		END
	POPUP "GUI"
	BEGIN
		MENUITEM "Show/Hide GUI", ID_SHOW_HIDE_GUI
		MENUITEM "Show/Hide Mouse Icon", ID_SHOW_HIDE_MOUSE
		MENUITEM "Show/Hide Overheads", ID_SHOW_HIDE_OVERHEAD
	END
END

MENU_ICON ICON "icon.ico"