#include "Resource.h"

MENU_ID MENU
BEGIN
	POPUP "File"
	BEGIN
		MENUITEM "Exit",ID_FILE_EXIT
	END

	POPUP "Add"
	BEGIN
		POPUP "Components"
		BEGIN
			MENUITEM "RenderComponent",ID_ADD_RENDER
		END
	END
END

MENU_ICON ICON "icon.ico"